body {
  /***
    ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
    IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
  ***/

  /* Adjust spacing for horizontal rules and h3 headings */
  hr {
    margin-top: 0.5px !important;
    margin-bottom: 2px !important;
  }

  h3 {
    margin-bottom: 1px !important;
  }
}
